{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body bgcolor=00ff00>
    <font color=ff0000 size="5">
        <h1>{% block header %}{% endblock %}</h1>
    </font>
    <hr>
    <main>
        {% block main %}{% endblock %}
    </main>
    <hr>
    <footer>
        <p>(C) Roman Makarov 2020</p>
        <p><a href="mailto:makarr-off@yandex.ru">email</a></p>
        <p><a href="https://t.me/makarr_off">telegram</a></p>
    </footer>
</body>

</html>