{% extends "base.html" %}
{% load static %}

{% block title %}IP Makarov R.G.{% endblock %}

{% block header %}Roman Makarov Inc.{% endblock %}

{% block main %}
    <div>
        Hi for all!
    </div>

     <div>
            <img src="{% static 'index/our_family.png' %}">
        </div>
            <i>Моя семья(цветы нас, к сожалению, покинули...)</i>
        <div>
            <p><a href="{% static 'index/clone.png' %}">Ну похож же!</a></p>
        </div>
        <div>
            <p><a href="Resume/">Резюме</a></p>
        </div>

{% endblock %}