{% extends "base.html" %}
{% load static %}

{% block title %}А вот и я!{% endblock %}

{% block header %}Роман Макаров{% endblock %}

{% block main %}

     <div>
            <img src="{% static 'index/our_family.png' %}">
        </div>
            <i>Моя семья(цветы нас, к сожалению, покинули...)</i>
        <div>
            <p><a href="{% static 'index/clone.png' %}">Ну похож же!</a></p>
        </div>
        <div>
            <p><a href="Resume/">Резюме</a></p>
        </div>

{% endblock %}